{% extends 'base.html' %}
{% block title %}index{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="wrapper">
  <nav class="menu-container" id="menu-container">
    <div class="menu-header">
        <h3>偏愛会議</h3>
    </div>
    <div class="menu-buttons">
        <a class="menu-button" href="{{ url_for('room.room_create_view') }}"><i class="fas fa-plus"></i> ルーム作成</a>
        <a class="menu-button" href="{{ url_for('room.room_search_view') }}"><i class="fas fa-search"></i> ジャンル検索</a>
        <a class="menu-button" href="{{ url_for('profile.edit_profile_view') }}"><i class="fas fa-user"></i> プロフィール編集</a>
        <a
        class="menu-button"
        href="{{ url_for('survey.survey_view') }}"
        ><i class="fas fa-user"></i> 趣味を探す</a
      >
      <a
        class="menu-button"
        href="{{ url_for('survey.questionnaire_view') }}"
        ><i class="fas fa-user"></i> アンケートにご協力ください</a
      >
    </div>
    <div class="menu-footer">
        <a class="logout-button" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> ログアウト</a>
    </div>
  </nav>
  

  <div class="room-container">
    <div class="menu-btn" id="menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="room-header">
       {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}
      <h5>ルーム一覧</h5>
      <h1 class="min-with-title">偏愛会議</h1>
      <h2 class="min-with-subtitle">ルーム一覧</h2>
    </div>
    <div class="room-main">
      {% if channels %}
        <ul class="room-list">
          {% for channel in channels %}
               <li class="room-item">
              <a class="room-link" href="{{ url_for('chat.chatroom_screen_view', channel_id=channel.channel_id) }}">{{ channel.channel_name }}</a>
                <form action="{{ url_for('room.delete_room', channel_id=channel.channel_id) }}" method="POST">
                  <button class="delete" type="submit">ルーム削除</button>
                </form>
            </li>
           
          {% endfor %}
        </ul>
      {% else %}
        <p>チャンネルが存在しません</p>
      {% endif %}
    </div>
  </div>

</div>
{% endblock %}