{% extends 'base.html' %}
{% block title %}room_create{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/room_create.css') }}">
{% endblock %}

{% block content %}
<div class="wrapper">
  <nav class="menu-container" id="menu-container">
    <div class="menu-header">
        <h3>偏愛会議</h3>
    </div>
    <div class="menu-buttons">
        <a class="menu-button" href="{{ url_for('room.index_view') }}">ルーム一覧</a>
        <a class="menu-button" href="{{ url_for('room.room_search_view') }}"><i class="fas fa-search"></i> ジャンル検索</a>
        <a class="menu-button" href="{{ url_for('profile.edit_profile_view') }}"><i class="fas fa-user"></i> プロフィール編集</a>
        <a
        class="menu-button"
        href="{{ url_for('survey.survey_view') }}"
        ><i class="fas fa-user"></i> 趣味を探す</a
      >
      <a
        class="menu-button"
        href="{{ url_for('survey.questionnaire_view') }}"
        ><i class="fas fa-user"></i> アンケートにご協力ください</a
      >
    </div>
    <div class="menu-footer">
        <a class="logout-button" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> ログアウト</a>
    </div>
  </nav>
  
  <div class="room-container">
    <div class="menu-btn" id="menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="room-header">
      <h5>ルーム作成</h5>
    </div>
    <div class="room-main">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}
      <h1 class="min-with-title">偏愛会議</h1>
      <h2 class="min-with-subtitle">ルーム作成</h2>
      <form class="room-create" method="post" action="{{ url_for('room.room_create_process') }}">
        <input type="text" id="channel_name"placeholder= "ルーム名を入力してください。" name="channel_name"   ><br><br>
        <select class="search-genre-name" name="search_genre_name" required>
          <option value="" disabled selected>ジャンルを選んでください</option>
          {% if genres %}
        {% for genre in genres %}
           <option value="{{ genre.hobby_genre_name }}">{{ genre.hobby_genre_name }}</option>
        {% endfor %}
        {% endif %}
      </select><br>
        <label class="intoro" >紹介文</label>
        <textarea type="textarea" rows="8"id="comment" name="comment" ></textarea>
        <button class="room-create-button">作成</button>
      </form>
    </div>
  </div>
</div>   
{% endblock %}