<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}偏愛会議{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
  {% block page_css %}{% endblock %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=M+PLUS+Rounded+1c&family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <link rel="icon" href="../static/image/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
  <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

  <!-- Babel（JSX用）-->
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  {% block head %}{% endblock %}
</head>
<body>
  {% block content %}
  {% endblock %}
  <script defer>
    const btn = document.getElementById('menu-btn');
    const menu = document.getElementById('menu-container');

    btn.addEventListener('click', () => {
      btn.classList.toggle('active');
      menu.classList.toggle('active');
    });
  </script>
</body>
</html>