{% extends 'base.html' %} 
{% block title %}chatroom-screen{% endblock %} 
{% block page_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/chatroom_screen.css') }}"
/>
{% endblock %} {% block content %}
 <div class="wrapper">
   
  <nav class="menu-container" id="menu-container">
    <div class="menu-header">
        <h3>偏愛会議</h3>
    </div>
    <div class="menu-buttons">
        <a class="menu-button" href="{{ url_for('index_view') }}">ルーム一覧</a>
        <a class="menu-button" href="{{ url_for('room_create_view') }}"><i class="fas fa-plus"></i> ルーム作成</a>
        <a class="menu-button" href="{{ url_for('room_search_view') }}"><i class="fas fa-search"></i> ジャンル検索</a>
        <a class="menu-button" href="{{ url_for('profile_view', user_id=current_user.user_id) }}"><i class="fas fa-user"></i> プロフィール</a>
        <a
        class="menu-button"
        href="{{ url_for('survey_view') }}"
        ><i class="fas fa-user"></i> 趣味を探す</a
      >
      <a
        class="menu-button"
        href="{{ url_for('questionnaire_view') }}"
        ><i class="fas fa-user"></i> アンケートにご協力ください</a
      >
    </div>
    <div class="menu-footer">
        <a class="logout-button" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> ログアウト</a>
    </div>
  </nav>
  
  <div class="room-container">
    <div class="menu-btn" id="menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
           {% if channel_name %}
              <h5 class="chatroom-title">{{ channel_name }}のチャットルーム</h5>
           {% endif %}
    <div class="room-header">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}

    </div>
    <div class="room-main">
      <!-- ここにチャット画面のやり取りを表示させる -->

      <!-- 以下テスト用に追加 -->
      <div class="chat-box ">
        <!-- チャット投稿フォーム -->
        <form
          class="chat-box-submit-form"
          action="{{ url_for('send_message', channel_id=channel_id) }}"
          method="POST"
        >
          <textarea
            name="message"
            rows="2"
            cols="50"
            placeholder="メッセージを入力"
          ></textarea>
          <button type="submit">送信</button>
        </form>

        <!-- チャットメッセージ表示と編集/削除 -->
        {% for message in messages %}
        <div class="direction">
          {% if user == message.user_id %}
          <div class="message-block mymessage">
          {% else %}
          <div class="message-block ">
        {% endif %}
            <div>
              <div class="display">
                  {% if message.icon_image_url %}
            <a href="{{ url_for('show_profile', user_id = message.user_id,channel_id = channel_id) }}">
              <img class="room-main profile-icon"
                  src="{{ url_for('static', filename='image/' ~ message.icon_image_url) }}"
                  alt="プロフィール画像">
            </a>
          {% endif %}
              </div>
              <p class="message-at">{{ message.message_content }}</p>
            </div>

            {% if message.user_id == user_id %}
            <!-- 編集フォーム -->
            <div class="edit">
              <form
                action="{{ url_for('update_message', channel_id=channel_id, message_id=message.message_id) }}"
                method="POST"
                style="display: inline; margin-right: 5px"
              >
                <!-- <input type="text" name="message" placeholder="新しい内容" /> -->
                <button type="submit">編集</button>
              </form>

              <!-- 削除フォーム -->
              <form
                action="{{ url_for('delete_message', channel_id=channel_id, message_id=message.message_id) }}"
                method="POST"
                style="display: inline"
              >
                <button
                  type="submit"
                  onclick="return confirm('本当に削除しますか？')"
                >
                  削除
                </button>
              </form>
              <p class="created-at">{{message.created_at}}</p>
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
